.fullscreen {
    height: 100vh!important;
}

.logo {
    max-width: 150px;
}

.mobile-bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    will-change: transform;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    display: -webkit-box;
    display: flex;
    height: 50px;
    box-shadow: 0 -2px 5px -2px #333;
    background-color: #fff;
    justify-content: space-between;

    justify-items: center;
  }
  .mobile-bottom-nav__item {
    -webkit-box-flex: 1;
            flex-grow: 1;
    text-align: center;
    font-size: 12px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
  }
  .mobile-bottom-nav__item--active {
    color: red;
  }
  .mobile-bottom-nav__item-content {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

