.speaker-image img {
    border-radius: 0;
}
input {
    position: relative;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 24px;
    padding-bottom: 15px;
    background: transparent;
    border: none;
    color: #fff;
    text-align: left;
    -webkit-transition: border-bottom 0.3s, color 0.3s;
    transition: border-bottom 0.3s, color 0.3s;
}

button {
    position: relative;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
    padding: 12px 35px;
    letter-spacing: 1px;
    background-color: #212121;
    border: none;
    outline: none;
    margin: 0;
    text-align: left;
    display: inline-block;
    -webkit-transition: all 250ms linear;
    -moz-transition: all 250ms linear;
    -o-transition: all 250ms linear;
    -ms-transition: all 250ms linear;
    transition: all 250ms linear;
}
#invitationPanel img {
    border: 5px solid rgba(255, 255, 255, 0.5);
}


/* Custom Nav */
.nav-alt {
    position: absolute;
    top: 27px;
    right: 100px;
    display: flex;
    flex-direction: row;
    z-index: 3002;

}

.nav-alt-item {
    text-align: left;
    font-size: 1.25em;
    line-height: 1.25;
    font-weight: 400;
    margin: 0 auto;
    cursor: pointer;
}

.glow {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }

  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
    }

    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff, 0 0 80px #fff;
    }
  }
  @media (max-width:575px) {
    .hidden-xs-down {
        display: none !important
    }
}
